* {
  margin: 0;
}

body {
  height: 100px;
  background-image: url(./themood.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  background-color: black;
}
.navbar-toggler-icon {
  background-color: white;
  color: black;
}
.card {
  justify-content: flex-start;
}
.card-body {
  color: ghostwhite;
  background-color: dodgerblue;
}

.container {
  background-color: black;
  color: white;
  display: flex;
}
